* {
    box-sizing: border-box;
}

body {
    margin: 10px 50px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_desarrolladores {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_desarrolladores > img {
    width: 50px;
}

.pag_1 {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.pag_1 > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hi {
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(0, 140, 255);
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 6vw;
    animation: animate__animatedanimate__ 2s;
}

h2 {
    color: rgb(255, 205, 6);
    font-size: 2vw;
    animation: text 15s infinite;
}

@keyframes text {
    0% {
        color: yellow;
    }
    25% {
        color: aquamarine;
    }
    50% {
        color: yellowgreen;
    }
    75% {
        color: peru;
    }
    100% {
        color: rgb(255, 205, 6);
    }
}

.descripcion {
    font-weight: 500;
}

img {
    animation: animate__fadeInRight 2s;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 15px;
    font-size: 1.1vw;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.btn1 {
    border: 2px solid rgb(193, 167, 0);
    background: transparent;
}

.btn2 {
    border: none;
    background: rgb(223, 193, 0);
    color: white;
    width: max-content;
}