.header_usuario {
    display: grid;
    grid-template-rows: 20% 80%;
    z-index: 100;
    height: calc(100vh - 20px);
    position: sticky;
    background: #5c00b9;  /*diseño 2*/
    margin: 10px;   /*diseño 2*/
    border-radius: 20px;    /*diseño 2*/
    z-index: 100;
    top: 0;
}

.nav_usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usuario > img {
    width: 50%;
    border-radius: 10px;
}

.menu_todas_recetas {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu_todas_recetas > img,
.menu_anadir_recetas > img,
.nav_usuario > img  {
    cursor: pointer;
    padding: 10px;
    width: 50px;

    &:hover {
        scale: 1.1;
        background: #9d75eb;
        border-radius: 10px;
    }
}