@import url(menu.css);
@import url(todos_los_productos.css);
@import url(anadir_rrecetas.css);
@import url(categorias.css);
@import url(cerrar_sesion.css);
@import url(usuario.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background: black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_padre {
    display: grid;
    overflow: hidden;
    grid-template-columns: 8% 92%;
    background-color: #d6c5f7;   /*diseño 2*/
}

/* From Uiverse.io by Nawsome */ 
.loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .slider {
    overflow: hidden;
    background-color: white;
    margin: 0 15px;
    height: 80px;
    width: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 30px #fff,
      inset -5px -5px 10px rgba(0, 0, 255, 0.1),
      inset 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #2697f3,
      inset 0px 0px 0px rgba(0, 0, 0, 0.1);
    animation: animate_2 2.5s ease-in-out infinite;
    animation-delay: calc(-0.5s * var(--i));
  }
  
  @keyframes animate_2 {
    0% {
      transform: translateY(250px);
      filter: hue-rotate(0deg);
    }
  
    50% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(250px);
      filter: hue-rotate(180deg);
    }
  }

.menu_movil {
    display: none;
}

.perfil > img {
    display: none;
}

.navegacion > img {
    display: none;
}

@media (max-width: 1023px) {
    .container_padre {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        background: none;
    }

    .header_usuario {
        display: none;
    }
    /* menu flotante */
    .menu_movil {
        display: block;
        position: fixed;
        background: #5c00b9;
        box-shadow: 0 0 3px black;
        margin: 0 20px;
        padding: 20px 0;
        border-radius: 10px;
        width: 90%;
        top: 90%;
        z-index: 100;
    }
    .menu_navegacion_movil {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .container_info {
        padding: 0 20px;
    }
    .apps_btn1 {
        font-size: 3vw;
    }
    .more_btn2 {
        font-size: 3vw;
    }
    .container_recetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        margin-bottom: 20vh;
    }
    .container_recetas > a {
        display: grid;
        grid-template-rows: 100px auto;
        gap: 10px;
    }
    .container_recetas > a > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .recetas_agregadas{
        display: flex;
        flex-direction: column;
    }
    .recetas_agregadas > img {
        width: 100%;
    }
    .search > input {
        width: 200px;
        border: 2px black solid;
    }
    /* section de todas las recetas */
    main{
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
    .section_container {
        border-radius: 0;
        margin: 0;
        background: transparent;
        box-shadow: 0 0 10px transparent; 
        padding: 15px;
    }
    .mensaje_container {
        display: none;
    }
    .perfil > button {
        display: none;
    }
    .perfil > img {
        display: block;
        width: 50px;
    }
    .salir {
        padding: 10px 15px;
        background: white;
        color: black;
        gap: 5px;
        font-size: 3vw;
    }
    .salir > img {
        width: 15px;
        filter: invert(1);
    }
    .navegacion > img {
        display: block;
    }
    .descripcion {
        display: grid;
        grid-template-columns: 1fr;
    }
    .informacion {
        padding: 20px 0;
    }
    .informacion > h1 {
        font-size: 8vw;
        margin: 0;
    }
    .informacion > p {
        font-size: 4vw;
    }
    .descripcion > div > img {
        display: none;
    }


    /* CATEGORIAS */

    .categorias > h1 {
        font-size: 8vw;
        margin: 0;
        margin-bottom: 20px;
    }

    .tipos_categorias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        color: white;
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20vh;
    }

    .tipos_categorias > div {
        padding: 50px 0;
    }


    /* AGREGAR RECETAS */

    .anadir_button {
        padding-top: 0;
        margin-top: 0;
    }

    .anadir_button > div > div > .btn1,
    .anadir_button > div > .btn2 {
        padding: 6px 12px;
    }

    .agregar_recetas {
        display: grid;
        grid-template-columns: 1fr;
    }

    .input_instrucciones {
        margin-bottom: 35vh;
    }

    /* USUARIO */

    
    .perfil_usuario {
        grid-template-rows: auto auto;
        padding: 10px 10px;
        gap: 10px;
    }

    .editar_receta {
        font-size: 5vw;
    }

    .reporte_error > img {
        display: none;
    }
    .usuario_editar, .password_editar {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding: 0 5px;
        font-size: 15px;
    }
    .descripcion_information {
        display: none;
    }
    .perfil_usuario {
        display: grid;
        grid-template-columns: 1fr;
    }
    .datos_usuario {
        display: flex;
        padding: 15px;
        grid-column: auto;
    }
    .reporte_error {
        padding: 10px 20px;
        grid-column: auto;
        margin-bottom: 20vh;
    }
    .reportar_bug {
        font-size: 5vw;
        color: white;
        font-weight: bold;
        margin: 0;
    }
    .datos_usuario > img {
        display: none;
    }
    .datos_input {
        display: flex;
        gap: 10px;
    }
    .datos_button {
        display: flex;
        gap: 20px;
    }
    .datos_informacion {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .datos_informacion > p {
        font-size: 3.5vw;
    }
}







